$fds-accordion-border-color: $color-default-border-secondary;
$fds-accordion-border-radius: $rad-md;
$fds-accordion-border-width: 0.0625rem;
$fds-accordion-button-height: 2.5rem;
$fds-accordion-easing: 0.11s cubic-bezier(0.2, 0, 0.38, 0.9);
$fds-accordion-button-padding: 1rem;
$fds-accordion-content-padding-top: 0.5rem;
$fds-accordion-content-padding-bottom: 1rem;
$fds-accordion-content-padding-left: 1rem;
$fds-accordion-content-padding-right: 3.5rem;

.accordion {
  @extend .type-body-primary-on-light;
  .card {
    box-shadow: none;
    padding: 0;

    &:focus {
      border-color: #21b8d1;
      box-shadow: 0 0 0 0.125rem #21b8d1 inset;
    }

    .card-header {
      @extend .type-body-primary-on-light;
      text-align: left;
      background: inherit;
      padding: $fds-accordion-button-padding/2 2.5rem
        $fds-accordion-button-padding/2 $fds-accordion-button-padding;
      border-color: $fds-accordion-border-color;
      height: 2.5rem;
      font-family: "Source Sans Pro";
      font-size: 1rem;
      line-height: 1.5rem;
      position: relative;

      &:after {
        content: "\e907";
        font-family: "fds-glyphs" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        position: absolute;
        right: .5rem;

        color: $color-default-bg-icon-small-enabled;
        font-size: 1.5rem;
        line-height: 1.5rem;

        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        background: $color-default-bg-container-secondary;
        cursor: pointer;
      }

      &.icon-left {
        padding: $fds-accordion-button-padding/2 $fds-accordion-button-padding
          $fds-accordion-button-padding/2 2.5rem;

        &:after {
          left: .5rem;
        }
      }

      &.icon-none {
        padding-left: 2.5rem;
        padding-right: 1rem;
        cursor: default;

        &:after {
          display: none;
        }
      }
    }

    .card-body {
      padding-top: $fds-accordion-content-padding-top;
      padding-bottom: $fds-accordion-content-padding-bottom;
      padding-left: $fds-accordion-content-padding-left;
      padding-right: $fds-accordion-content-padding-right;
      text-align: left;
    }
    /*
    .collapse {
      &:after {
        content: "\e907";
        font-family: "fds-glyphs" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        position: absolute;
        right: 1rem;
        top: 0;

        color: $color-default-bg-icon-small-enabled;
        line-height: $fds-accordion-button-height;
        font-size: 1.5rem;
      }
    }*/
  }
  .list-group-item {
    padding: 0.5rem 1rem;

    :first-child {
      border-top-left-radius: $rad-md;
      border-top-right-radius: $rad-md;
    }
  }
}
