.badge {
  color: $white;
  font-weight: 400;
  font-size: 1rem;

  &.badge-pill {
    @extend .fds-badge;

    &.badge-primary {
      @extend .fds-badge--teal;
    }

    &.badge-danger {
      @extend .fds-badge--red;
    }

    &.badge-success {
      @extend .fds-badge--green;
    }
  }
}
