// FDS-variable overrides
$font-family-sans-serif: "Source Sans Pro", Arial, sans-serif;
$font-weight: 400;

$theme-colors: (
  "primary": $color-interactive-bg-button-primary-enabled,
  "secondary": $color-default-text-primary-on-dark,
  "success": $color-default-bg-status-success-solid,
  "danger": $color-default-bg-status-error-solid
);

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

$container-max-widths: (
  sm: 704px,
  md: 960px,
  lg: 1216px,
  xl: 1376px
);

$grid-gutter-width: 32px;

$custom-control-indicator-size: 1.5rem;

//Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 16px;
}

//base components
@import "button";
@import "badge";
@import "breadcrumb";
@import "card";
@import "dropdown";
@import "table";
@import "pagination";
@import "tabs";
@import "text-input";
@import "select";
@import "list-group";
@import "accordion";
@import "toast";
@import "listgroup";
@import "modal";
@import "form";
@import "popover";
@import "tooltip";
@import "inputgroup";

//patterns
@import "patterns/list-group-itinerary";
@import "patterns/header";
@import "patterns/footer";
@import "patterns/nested-accordion";

.fds-text-input label, .fds-select label, .fds-dropdown label {
  margin-bottom: 0;
}
