nav.breadcrumb,
.breadcrumb {
  @extend .fds-breadcrumb;
  background: none;
  padding: 0;
  margin: 0;

  ol.breadcrumb,
  li.breadcrumb {
    @extend .fds-breadcrumb__list;
  }

  .breadcrumb-item {
    @extend .fds-breadcrumb__item;

    &.active {
      color: inherit;
    }
  }

  a {
    @extend .fds-link;
  }
}



.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}