.btn {
  align-items: center;
  position: relative;
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-family: "Source Sans Pro";
  font-size: 1rem;
  line-height: 1.25rem;
  fill: $white;
  border: 0.0625rem solid transparent;

  .fds-button__icon {
    font-size: 1rem;
  }

  &.btn-lg {
    height: 3rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    .fds-button__icon {
      font-size: 1.25rem;
      vertical-align: text-bottom;
    }
  }

  &.btn-sm {
    height: 2rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    .fds-button__icon {
      font-size: 1rem;
      line-height: 1;
      margin-right: 0;
      text-align: middle;
      vertical-align: top;
    }
  }

  &.disabled:hover {
    cursor: not-allowed;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-primary {
  &:hover {
    background: $color-interactive-bg-button-primary-hover;
    border-color: transparent;
  }

  &.disabled,
  &.disabled:hover,
  &:disabled,
  &:disabled:hover {
    background: $color-interactive-bg-button-primary-disabled;
    border-color: $color-interactive-border-button-secondary-disabled;
  }
}

button.btn-success,
a.btn-success,
.btn-success {
  color: $color-default-text-primary-on-dark;

  &:hover {
    background: $color-interactive-bg-button-affirmation-hover;
    border-color: transparent;
  }

  &.disabled,
  &.disabled:hover,
  &:disabled,
  &:disabled:hover {
    background: $color-interactive-bg-button-primary-disabled;
    border-color: $color-interactive-border-button-secondary-disabled;
    color: $color-default-text-primary-on-dark;
  }
}

button.btn-secondary,
a.btn-secondary,
.btn-secondary {
  color: $color-interactive-border-button-secondary-enabled;
  border: 1px solid $color-interactive-border-button-secondary-enabled;
  &:hover {
    color: $color-default-text-primary-on-dark;
    background: $color-interactive-bg-button-primary-hover;
    border-color: $color-interactive-bg-button-primary-hover;
  }
  &.disabled,
  &:disabled,
  &:disabled:hover {
    color: $color-interactive-border-button-secondary-disabled;
    border-color: $color-interactive-border-button-secondary-disabled;
    background: $color-default-text-primary-on-dark;
  }
}

button.btn-link,
a.btn-link,
.btn-link {
  &:hover {
    background: $color-interactive-bg-button-ghost-hover;
    text-decoration: none;
  }
  &.disabled {
    color: $color-interactive-border-button-secondary-disabled;
  }
}

button.btn-danger,
a.btn-danger,
.btn-danger {
  color: $color-default-text-primary-on-dark;

  &:hover {
    background: $color-interactive-bg-button-destructive-hover;
    border-color: transparent;
  }

  &.disabled,
  &.disabled:hover,
  &:disabled,
  &:disabled:hover {
    background: $color-interactive-bg-button-primary-disabled;
    border-color: $color-interactive-border-button-secondary-disabled;
  }
}

.btn.btn-block {
  display: block;
}
