.card {
  border-radius: $rad-md;
  background-color: $color-default-bg-container-primary;
  box-shadow: $ele-sm;
  height: fit-content;
  overflow: hidden;
  text-align: center;
  width: auto;
}

.card-title {
  @extend .type-heading-h1;
}

.card-body {
  padding: 2rem;

  p {
    @extend .type-body-primary-on-light;
  }
}

.card-text {
  margin-bottom: 1rem;
}

.card-header {
  &.card-header-gray {
    background: $gray-500;
    color: $white;
    font-weight: 600;
  }
}