$fds-dropdown-border-radius: 0.25rem;
$fds-dropdown-border-width-default: 0.0625rem;
$fds-dropdown-border-width-focused: 0.25rem;
$fds-dropdown-border-width-hovered: 0.0625rem;
$fds-dropdown-height: 2.5rem;
$fds-dropdown-icon-size: 1.5rem;
$fds-dropdown-icon-font-size: 1.5rem;
$fds-dropdown-icon-padding: 0.5rem;
$fds-dropdown-label-padding: 0.25rem;
$fds-dropdown-cap-size-default: 1rem;
$fds-dropdown-cap-size-with-icon: $fds-dropdown-cap-size-default +
  $fds-dropdown-icon-size - $fds-dropdown-label-padding;

.dropdown {
  @extend .type-body-primary-on-light;
  background: $color-default-bg-input;
  border-color: $color-default-border-secondary;
  border-radius: $fds-dropdown-border-radius;
  height: $fds-dropdown-height;
  margin: 1.5rem 0 1.5rem 0;
}

.dropdown-toggle,
button.dropdown-toggle,
.btn-primary.dropdown-toggle {
  background: $color-default-bg-input;
  border: 1px solid $color-default-border-primary;
  color: $color-default-text-secondary-on-light;
  height: $fds-dropdown-height;
  text-align: left;
  min-width: 12.5rem;
  line-height: $fds-dropdown-height;
  border-radius: $fds-dropdown-border-radius;

  padding-left: $fds-dropdown-cap-size-default + $fds-dropdown-label-padding;
  padding-right: $fds-dropdown-cap-size-with-icon;
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    border-color: $color-interactive-border-focus;
    background: $color-default-bg-input;
  }

  &.btn:focus {
    border-color: $color-interactive-border-focus;
    box-shadow: 0 0 0 0.125rem $color-interactive-border-focus inset;
  }

  &:focus:before {
    border-color: $color-interactive-border-focus;
    border-width: $space-xxs-fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.show > .btn-primary.dropdown-toggle {
  background: $color-default-bg-input;
  border: 1px solid $color-default-border-primary;
  color: $color-default-text-secondary-on-light;
}

.show > .btn-secondary.dropdown-toggle:focus {
  border-color: $color-interactive-border-focus;
  box-shadow: none;
  background: inherit;
}

.dropdown-menu {
  max-height: 12.5rem;
  min-width: 12.5rem;
  padding: 0;
  top: $space-xxs-fixed !important;
  box-shadow: $ele-lg;
  border-radius: $rad-md;
  overflow-y: auto;

  .dropdown-item {
    @extend .fds-dropdown__link;
  }
}

.dropdown-toggle:after {
  font-family: "fds-glyphs" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\e902";
  border: none;

  color: $color-default-bg-icon-enabled;
  height: 1.25rem;
  line-height: $fds-dropdown-height;
  max-height: 1.25rem;
  max-width: 1.25rem;
  font-size: 1.15rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 1.5rem;

  right: 0.5rem;
}
