.form-group {
  .form-check-label {
    margin-left: 0;
    color: $gray-900;
    font-size: 1rem;
  }
}

//custom switch/toggle
.custom-switch {
  .custom-control-label::before {
    color: #ffffff;
    background-color: $gray-500;
    border: $gray-500;
    font-family: "fds-glyphs";
    content: "\e924";
    padding-right: 7px;
    font-size: 0.6rem;
    text-align: right;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $teal-600;
    background-color: $teal-600;
    content: "\ed71 ";
    padding-left: 7px;
    text-align: left;
  }

  &.custom-switch-on-off { 
    .custom-control-label::before {
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      content: "OFF";
      width: 3rem;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
      content: "ON";
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      background-color: #fff;
      transform: translateX(1.5rem);
    }
  }

  .custom-control-input:hover:not([disabled]) ~ .custom-control-label::before {
    background-color: $gray-800;
    border-color: $gray-800;
  }

  .custom-control-input:checked:hover:not([disabled])
    ~ .custom-control-label::before {
    background-color: $teal-400;
    border-color: $teal-400;
  }

  .custom-control-label::after {
    background-color: $white;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px $white, 0 0 0 3px $teal-400;
  }
}
