$input-group-bg: $gray-100;
$input-group-border: $color-default-border-primary;
$input-group-text-color: $gray-500;
$input-group-border-radius: 0.25rem;

.input-group-text {
  background: $input-group-bg;
  border-color: $input-group-border;
  color: $input-group-text-color;
  margin: $space-xxs-fixed 0 0 0;
}

.input-group-prepend,
.input-group-append {

  .btn {
    margin: $space-xxs-fixed 0 0 0;
    border-radius: $input-group-border-radius;
  }

  &.dropdown {
    margin-top: 0;
    margin-bottom: 0;
  }

  .dropdown-toggle, .show>.btn-primary.dropdown-toggle, .show>.btn-primary.dropdown-toggle:focus {
    min-width: auto;
  }
}

.input-group-append {
  &.dropdown {
    margin-left: -1px;
  }
}

.input-group-prepend {
  &.dropdown {
    margin-right: -1px;
  }
}

.input-group-sm>.form-control:not(textarea), .input-group-sm>.custom-select {
  height: calc(1.5em + .5rem + 3px);
}

