.list-group-item {
  color: $gray-900;
  border-color: $color-default-border-primary;
  padding: 0.375rem .5rem;
  font-size: 1rem;
  line-height: 1.5rem;

  &.active {
    background: $color-default-bg-table-row-selected-enabled;
    color: inherit;
    border-color: $color-default-border-primary;
  }

  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.list-group-flush {
  .list-group-item {
    padding-left: $space-xs-fixed;
  }
  .list-group-item:first-child {
    border-top: 0;
  }
  .list-group-item:last-child {
    border-bottom: 1px solid $color-default-border-primary;
  }
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 1px solid $color-default-border-primary;
}
