$modal-container-padding: 1.5rem;
$modal-container-vertical-margin: 5rem;
$modal-close-icon-size: 1.5rem;

.modal-dialog {
  margin: 0;
  height: 100%;
}

.modal-label {
  @extend .type-caption-on-light;
  padding-top: 1rem;

  & + .modal-title {
    margin-top: .5rem;
  }
}

.modal-content {
  padding: 0.5rem 4.5rem $modal-container-padding $modal-container-padding;
  height: 100%;
  border: none;
  border-radius: 0;
}

.modal-header {
  border: none;
  padding: 0;
  flex-direction: column;

  .close {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 0 1rem;
    padding: 0;

    span {
      opacity: 0;
    }

    &:after {
      font-family: "fds-glyphs" !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      content: "\e900";
      color: $gray-800;
      height: 1.5rem;
      line-height: 1.5rem;
      padding: 1px;
      max-height: 1.5rem;
      max-width: 1.5rem;
      font-size: $modal-close-icon-size;
      pointer-events: none;
      position: absolute;
      text-align: center;
      right: 0;
    }
  }
}

.modal-title {
  @extend .type-heading-h2;
  display: block;
  position: relative;
  padding: 0;
  margin-top: $space-sm-fixed;
  margin-bottom: $space-sm-fixed;

  &.h4 {
    @extend .type-heading-h2;
  }
}

.modal-body {
  padding: 0;
}

.modal-footer {
  border: none;
  padding: 0;
  margin-top: 2.5rem;
  justify-content: left;
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: calc(
      60ch + (3 * #{$modal-container-padding}) + #{$modal-close-icon-size}
    );
    margin: $modal-container-vertical-margin auto;
    height: auto;
  }

  .modal-content {
    box-shadow: $ele-xl;
    border-radius: $rad-lg;
    height: auto;
  }
}

.modal-backdrop {
  background: $color-default-bg-overlay;

  &.show {
    opacity: 1;
  }
}
