.pagination {
  .page-link {
    border-right: none;
    border-left: none;
    border-color: $color-default-border-primary;
    color: $color-default-text-primary-on-light;

    &:focus {
      box-shadow: none;
      box-shadow: 0 0 0 0.125rem $color-interactive-border-focus inset;
    }

    &:hover {
      background: $color-interactive-bg-menu-item-hover;
      color: $color-default-text-primary-on-light;
    }
  }

  .page-item:first-child .page-link {
    border-left: 1px solid $color-default-border-primary;
  }

  .page-item:last-child .page-link {
    border-right: 1px solid $color-default-border-primary;
  }

  .page-item.active .page-link {
    background: $color-default-bg-container-primary;
    color: $color-interactive-border-input-active;
    border-color: $color-default-border-primary;
  }
}

.pagination.pagination-floating {
  @extend .type-body-primary-on-light;
  background: none;

  &:first-child {
    border-top-left-radius: $rad-md;
    border-bottom-left-radius: $rad-md;
  }

  &:last-child {
    border-top-right-radius: $rad-md;
    border-bottom-right-radius: $rad-md;
  }

  .page-item {
    background: transparent;
    border: none;
    height: 2.5rem;
    min-width: 2.5rem;
    text-align: center;
    list-style: inherit;
  }

  .page-link {
    background: transparent;
    border: none;
    color: $color-default-text-primary-on-light;
    margin: 0;

    span {
      color: $color-default-bg-icon-small-enabled;
      font-size: 1.25rem;
      font-style: normal;
      line-height: 1;
    }

    //border: 0.125rem solid transparent;

    &:focus {
      box-shadow: none;
      box-shadow: 0 0 0 0.125rem $color-interactive-border-focus inset;
    }

    &:hover {
      background: $color-interactive-bg-menu-item-hover;
      border-color: $color-interactive-bg-menu-item-hover;
      color: $color-default-text-primary-on-light;
    }
  }

  .page-item:first-child .page-link,
  .page-item:last-child .page-link {
    border: none;
  }

  .page-item.active .page-link {
    background: none;
    color: $color-interactive-border-input-active;
    border-color: transparent;

    &:focus {
      border-color: $color-interactive-border-focus;
    }
  }

  .page-item.disabled .page-link {
    border-color: transparent;
    color: $color-interactive-border-input-active;

    color: $color-default-bg-icon-small-disabled;

    &:focus {
      border-color: $color-interactive-border-focus;
    }
  }
}
