.popover {
  box-shadow: $ele-lg;
  border: none;
}

.popover-header {
  @extend .type-body-primary-on-light-strong;
  background: transparent;
  padding: 0.25rem .5rem 0 .5rem;
  border-color: $gray-200;
  color: $gray-900;
}

.popover-body {
  @extend .type-body-small-on-light;
  padding: .5rem .5rem 1.5rem .5rem;
  color: $gray-900;
}