.custom-select {
  appearance: none;
  -webkit-appearance: none;

  background: none;
  &:after {
    content: "\e902";
    font-family: "fds-glyphs" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

select.form-control {
  text-indent: .5rem;
}
