table {
  $table-border-radius: $rad-md;
  $table-padding-vertical: 0.5rem;
  $table-padding-horizontal: 1rem;
  $table-border: 0.0625rem solid $color-default-border-primary;
  $table-transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  overflow: visible;
  border: $table-border;
  border-radius: $table-border-radius;

  @extend .type-body-primary-on-light;
  background-color: $color-default-bg-table-row-enabled;
  border-spacing: 0;
  text-align: left;
  width: 100%;

  tbody {
    tr:not(:last-child) > td {
      border-bottom: 0.0625rem solid $color-default-border-secondary;
    }

    tr:hover {
      background-color: $color-interactive-bg-table-row-hover;
    }
  }

  tbody,
  thead {
    tr {
      height: 3rem;

      th,
      td {
        padding: $table-padding-vertical $table-padding-horizontal
          $table-padding-vertical $table-padding-horizontal;
        vertical-align: middle;
      }

      td {
        background: none;
      }

      th {
        background: $color-default-bg-table-header-enabled;
        border-top: 0.0625rem solid $color-default-bg-table-header-enabled;
        border-bottom: 0.0625rem solid $color-default-border-secondary;
        box-sizing: border-box;

        &:focus {
          outline: none;
          box-shadow: inset 0 0 0 0.125rem $color-interactive-border-focus;
        }

        &:hover:not(:empty) {
          background-color: $color-interactive-bg-table-header-hover;
          cursor: pointer;
        }

        i {
          margin-left: 1rem;
          color: $color-default-text-secondary-on-light;
        }

        &:hover > i,
        &:focus-within > i {
          color: $color-default-text-primary-on-light;
        }
      }

      th.fds-data-table--sorted-column {
        i {
          color: $color-default-text-primary-on-light;
        }
      }
    }
  }
}
