$tab-height: 2.5rem;

.nav-tabs {
  border-bottom: none;

  .nav-link {
    @extend .type-body-secondary-on-light;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid;
    border-radius: $rad-none;
    height: $tab-height;
    line-height: $tab-height;
    max-height: $tab-height;
    padding: 0 2rem 0 1rem;
    border-bottom: 0.0625rem solid $color-default-border-secondary;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;

    &:not([href]):not([tabindex]) {
      @extend .type-body-secondary-on-light;
      line-height: $tab-height;
    }

    &.active {
      color: $color-default-text-primary-on-light;
      border-bottom: 0.125rem solid $color-interactive-border-focus;
      padding: 0 2rem 0 1rem;
    }

    &.disabled {
      color: $color-default-text-secondary-on-light-disabled;
      border-bottom: 0.0625rem solid $color-default-border-secondary;
    }

    &:hover:not([href]):not([tabindex]) {
      color: $color-default-text-primary-on-light;
      text-decoration: none;
    }

    &:focus:not(.active):not(.disabled) {
      color: $color-default-text-primary-on-light;
      border-bottom: none;

      padding: 0 2rem 0 1rem;
      box-shadow: 0 0 0 0.125rem $color-interactive-border-focus inset;
    }
  }

  & > .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
}
