$form-group-icon-margin: 2 * 0.0625rem;
$form-group-inner-margin: 3 * 0.0625rem;

.form-group {
  label {
    margin-bottom: $space-xxs-fixed;
    margin-left: $space-sm-fixed;
    @extend .type-caption-on-light;
  }

  .form-text {
    //margin-left: $space-sm-fixed;
    @extend .type-caption-on-light;
  }
}

.form-control {
  // Sizing
  $fds-text-input-border-radius: 0.25rem;
  $fds-text-input-border-width-default: 0.0625rem;
  $fds-text-input-border-width-focused: 0.125rem;
  $fds-text-input-border-width-hovered: 0.0625rem;
  $fds-text-input-height: 2.5rem;
  $fds-text-input-icon-size: 1.5rem;
  $fds-text-input-icon-font-size: 1.5rem;
  $fds-text-input-icon-padding: 0.5rem;
  $fds-text-input-label-padding: 0.25rem;
  $fds-text-input-cap-size-default: 1rem;
  $fds-text-input-cap-size-with-icon: $fds-text-input-cap-size-default +
    $fds-text-input-icon-size - $fds-text-input-label-padding;

  // Timing
  $fds-text-input-transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1);

  @extend .type-body-primary-on-light;

  background: $color-default-bg-input;
  border-radius: $fds-text-input-border-radius;
  border: $color-default-border-primary $fds-text-input-border-width-default
    solid;
  height: $fds-text-input-height;
  justify-content: center;
  margin: $space-xxs-fixed 0 $space-xxs-fixed 0;
  pointer-events: auto;
  position: relative;
  padding-left: $space-sm-fixed;
  padding-right: $space-sm-fixed;
  box-sizing: border-box;

  &:hover {
    border-color: $color-interactive-border-focus;
  }

  &:focus {
    box-shadow: 0 0 0 0.125rem $color-interactive-border-focus inset;
  }
}

.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

label + .form-control {
  margin-top: 0;
}

.form-control ~ label {
  margin-bottom: $space-xxs-fixed;
}
