.toast {
  color: $gray-900;

  .toast-header {
    padding-top: 1px;
    padding-bottom: 1px;

    strong {
      color: $gray-900;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    small {
      color: $gray-500;
      font-size: 0.875rem;
    }

    button {
      position: relative;
      &:after {
        font-family: "fds-glyphs" !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        content: "\e900";
        color: $gray-800;
        height: 1.5rem;
        line-height: 1.5rem;
        padding: 1px;
        max-height: 1.5rem;
        max-width: 1.5rem;
        font-size: 1rem;
        pointer-events: none;
        position: absolute;
        text-align: center;
        right: 0;
      }
      span {
        opacity: 0;
      }
    }
  }
}
