.tooltip {
  .tooltip-inner {
    background: $purple-800-90;
    color: $white;
    font-size: 0.875rem;
    line-height: 1rem;
    border: none;
    padding: .5rem;
    border-radius: $rad-md;
  }

  &.show {
    opacity: 1;
  }
}

.bs-tooltip-auto[x-placement^=right] .arrow:before, .bs-tooltip-right .arrow:before {
  border-right-color: $purple-800-90;
}

.bs-tooltip-auto[x-placement^=left] .arrow:before, .bs-tooltip-left .arrow:before {
  border-left-color: $purple-800-90;
}

.bs-tooltip-auto[x-placement^=top] .arrow:before, .bs-tooltip-top .arrow:before {
  border-top-color: $purple-800-90;
}

.bs-tooltip-auto[x-placement^=right] .arrow:before, .bs-tooltip-bottom .arrow:before {
  border-bottom-color: $purple-800-90;
}