.footer {
  $component: &;

  background: $color-default-bg-nav-dark;
  border-top: 4px solid $teal-500;
  color: $color-default-text-primary-on-dark;

  padding: $space-xl-fixed 0;
  font-size: 0.875rem;
  line-height: 1rem;

  &-links {
    text-align: right;

    a {
      font-size: 0.875rem;
      line-height: 1rem;
      font-weight: 600;
      margin-left: $space-sm-fixed;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &-links {
      text-align: left;

      a {
        display: block;
        margin-left: 0;
      }
    }
  }
}
