.navbar, .navbar-light.navbar {
  $component: &;

  border-bottom: 1px solid $gray-200;
  padding: 0;

  .container {
    height: 100%;
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  &-brand {
    color: $gray-500;
    font-size: $space-lg-fixed;
    margin-right: $space-xl-fixed;
    line-height: $space-lg-fixed;

    img {
      margin-right: $space-xs-fixed;
    }
  }

  &-brand-text {
    display: inline-block;
    vertical-align: text-top;
  }

  .nav-link {
    font-weight: 600;
    color: $color-interactive-link-enabled;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:hover {
      color: $color-interactive-link-active;
    }
  }

  & .dropdown {
    background: transparent;
    margin: 0;
    height: auto;
  }

  & .dropdown-toggle {
    background: transparent;
    padding: $space-xs-fixed 1.5rem $space-xs-fixed $space-xs-fixed;
    border: none;
    height: auto;
    line-height: 1.5rem;
    min-width: auto;

    &:after {
      content: "\e907";
      color: $black;
      font-size: 1.25rem;
      right: 0;
      line-height: 1.5rem;
    }
  }

  .navbar-toggler {
    //background: none;
    border: none;
  }

  & .dropdown-menu {
    top: 3rem !important;
  }

  .navbar-utility {
    position: absolute;
    right: 0;
    top: 0;

    .navbar-utility-link {
      font-size: .825rem;
      margin-right: $space-xs-fixed;
      font-weight: 600;

      &:list-child {
        margin-right: 0;
      }
    }

    .navbar-utility-icon {
      vertical-align: middle;

      .fds-button__icon {
        color: $black;
        font-size: 1rem;
      }
      
      &:hover {
        text-decoration: none;
      }
    }

    .navbar-utility-username {
      color: $gray-500;
      font-weight: normal;
      
      &:hover {
        color: $gray-300;
      }
    }
  }
}

@include media-breakpoint-down(xs) { 
  .navbar, .navbar-light.navbar {

    .dropdown {
      .dropdown-menu {
        box-shadow: none;
        margin: $space-xs-fixed;
      }
    }

    .navbar-utility {
      position: relative;
      margin-left: $space-xs-fixed;
      margin-top: $space-xs-fixed;
      padding-top: $space-md-fixed;
      border-top: $color-default-border-primary 1px solid;
    }
  }
}