.listgroup-itinerary {
  border: none;
  .list-group-item {
    display: flex;
    border: none;
    padding: 0;
  }

  .list-group-append {
    display: flex;
    background: $gray-500;
    width: $space-lg-fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $white;
  }

  .list-group-content {
    flex-grow: 1;
    padding: $space-sm-fixed;
    border: 0.0625rem solid $color-default-border-secondary;
    border-left: none;
  }

  & .listgroup-attention {
    background: $orange-50;

    .list-group-append {
      background: $color-default-text-status-attention;
    }
  }

  & .listgroup-void {
    background: $color-default-bg-container-secondary;
    color: $color-default-text-secondary-on-dark;
    .list-group-append {
      background: $gray-300;
    }
  }
}
