$fds-accordion-content-padding-top: 0.5rem;
$fds-accordion-content-padding-bottom: 1rem;
$fds-accordion-content-padding-left: 1rem;
$fds-accordion-content-padding-right: 3.5rem;
$fds-accordion-button-height: 2.5rem;

.nested-accordion {
  margin-bottom: 2px;

  .nested-accordion-card {
    padding: 0;
    border: none;

    .card-header.nested-accordion-card-header {
      background: $color-default-bg-container-secondary;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      border-radius: $rad-none;
      height: auto;

      .type-heading-h2 {
        font-size: 1.25rem;
        margin-bottom: 0;
      }

      &:after {
        transform: translateY(-50%);
        content: '\e955';
        font-size: 1rem;
      }

      &.icon-left {
        //padding-left: 4rem;

        &:after {
          left: 1rem;
        }
      }

      

      
    }
  }

  .collapse.show ~ .card-header {
    background: #000000;
  }

  .card {
    .card {
      border-left: none;
      border-right: none;

      .card-body {
        padding-top: $fds-accordion-content-padding-top;
        padding-bottom: $fds-accordion-content-padding-bottom;
        padding-left: $fds-accordion-content-padding-left;
        padding-right: $fds-accordion-content-padding-right;
      }
    }
    .card-body {
      padding: 0;
    }
  }
}
