//////////////////////////////////////////
// Fonts
//////////////////////////////////////////
@font-face {
  font-family: 'Source Sans Pro';
  src: url(./fonts/SourceSansPro-Light.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(./fonts/SourceSansPro-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(./fonts/SourceSansPro-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(./fonts/SourceSansPro-Bold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(./fonts/SourceSansPro-Black.ttf) format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  src: url(./fonts/PTM55FT.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
