//Import FDS variables
@import "../../node_modules/flight-dev-kit/index";

// FDS-variable overrides
$font-family-sans-serif: "Source Sans Pro", Arial, sans-serif;
$font-weight: 400;

$theme-colors: (
  "primary": $color-interactive-bg-button-primary-enabled,
  "secondary": $color-default-text-primary-on-dark,
  "success": $color-default-bg-status-success-solid,
  "danger": $color-default-bg-status-error-solid
);

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 16px;
}

@import "partials/link";
@import "partials/button";
@import "partials/badge";
@import "partials/breadcrumb";
@import "partials/card";
@import "partials/dropdown";
@import "partials/table";
@import "partials/pagination";
@import "partials/tabs";
@import "partials/text-input";
@import "partials/select";
@import "partials/list-group";
@import "partials/accordion";

.fds-text-input label, .fds-select label, .fds-dropdown label {
  margin-bottom: 0;
}
